<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>uni3FFA</string>
      <string>uni4E82</string>
      <string>uni4E8B</string>
      <string>uni4F69</string>
      <string>uni4FAE</string>
      <string>uni4FDA</string>
      <string>uni5006</string>
      <string>uni5080</string>
      <string>uni5098</string>
      <string>uni50AD</string>
      <string>uni50B3</string>
      <string>uni50B5</string>
      <string>uni50B7</string>
      <string>uni50D1</string>
      <string>uni50E7</string>
      <string>uni50ED</string>
      <string>uni50EE</string>
      <string>uni50F5</string>
      <string>uni5108</string>
      <string>uni5109</string>
      <string>uni510D</string>
      <string>uni5112</string>
      <string>uni5121</string>
      <string>uni512A</string>
      <string>uni5137</string>
      <string>uni513C</string>
      <string>uni518A</string>
      <string>uni5195</string>
      <string>uni51DB</string>
      <string>uni51DC</string>
      <string>uni522A</string>
      <string>uni525B</string>
      <string>uni526A</string>
      <string>uni5287</string>
      <string>uni52DF</string>
      <string>uni52F3</string>
      <string>uni52F8</string>
      <string>uni5319</string>
      <string>uni5339</string>
      <string>uni533E</string>
      <string>uni533F</string>
      <string>uni5340</string>
      <string>uni535A</string>
      <string>uni5398</string>
      <string>uni53B0</string>
      <string>uni54C2</string>
      <string>uni54CB</string>
      <string>uni54E9</string>
      <string>u2BB37</string>
      <string>uni553E</string>
      <string>uni558A</string>
      <string>uni55AA</string>
      <string>uni55AE</string>
      <string>uni55B1</string>
      <string>uni5169</string>
      <string>uni5587</string>
      <string>uni58A8</string>
      <string>uni6144</string>
      <string>uni61F6</string>
      <string>uni6688</string>
      <string>uni7406</string>
      <string>uni55C7</string>
      <string>uni7565</string>
      <string>uni7CE7</string>
      <string>uni88CF</string>
      <string>uni8ECA</string>
      <string>uni8F3B</string>
      <string>uni91CF</string>
      <string>uni9752</string>
      <string>uni98A8</string>
      <string>uni9999</string>
      <string>uni99F1</string>
      <string>uni9AA8</string>
      <string>uni9B3C</string>
      <string>uni9EBB</string>
      <string>uni9ED1</string>
      <string>uni9F3B</string>
      <string>uni9F8D</string>
      <string>uni9F9C</string>
      <string>uni55E3</string>
      <string>uni55E8</string>
      <string>uni55EE</string>
      <string>uni55FD</string>
      <string>uni5605</string>
      <string>uni5608</string>
      <string>uni5614</string>
      <string>uni5617</string>
      <string>uni561B</string>
      <string>uni5622</string>
      <string>uni563F</string>
      <string>uni5669</string>
      <string>uni566A</string>
      <string>uni5671</string>
      <string>uni5674</string>
      <string>uni5678</string>
      <string>uni568E</string>
      <string>uni56A4</string>
      <string>uni56B4</string>
      <string>uni56B7</string>
      <string>uni5708</string>
      <string>uni570B</string>
      <string>uni570D</string>
      <string>uni5712</string>
      <string>uni5713</string>
      <string>uni5716</string>
      <string>uni5718</string>
      <string>uni571C</string>
      <string>uni57CB</string>
      <string>uni57DF</string>
      <string>uni582A</string>
      <string>uni584A</string>
      <string>uni584C</string>
      <string>uni5893</string>
      <string>uni589C</string>
      <string>uni589E</string>
      <string>uni589F</string>
      <string>uni58E4</string>
      <string>uni58E9</string>
      <string>uni5960</string>
      <string>uni59CD</string>
      <string>uni59FB</string>
      <string>uni5ABD</string>
      <string>uni5AD7</string>
      <string>uni5AE9</string>
      <string>uni5AF2</string>
      <string>uni5B24</string>
      <string>uni5B34</string>
      <string>uni5B75</string>
      <string>uni5BE5</string>
      <string>uni5C0A</string>
      <string>uni5C0E</string>
      <string>uni5C37</string>
      <string>uni5C64</string>
      <string>uni5C6C</string>
      <string>uni5C79</string>
      <string>uni5C90</string>
      <string>uni5CD9</string>
      <string>uni5CE8</string>
      <string>uni5CF0</string>
      <string>uni5CFD</string>
      <string>uni5D0E</string>
      <string>uni5D1B</string>
      <string>uni5D22</string>
      <string>uni5D50</string>
      <string>uni5D84</string>
      <string>uni5D87</string>
      <string>uni5DBC</string>
      <string>uni5E06</string>
      <string>uni5E33</string>
      <string>uni5E37</string>
      <string>uni5E40</string>
      <string>uni5E45</string>
      <string>uni5E54</string>
      <string>uni5E55</string>
      <string>uni5E5F</string>
      <string>uni5E62</string>
      <string>uni5E63</string>
      <string>uni5E6A</string>
      <string>uni5E7D</string>
      <string>uni5E7E</string>
      <string>uni5EAB</string>
      <string>uni5EC8</string>
      <string>uni5ED6</string>
      <string>uni5EDF</string>
      <string>uni5EE0</string>
      <string>uni5EFB</string>
      <string>uni5F0A</string>
      <string>uni5F12</string>
      <string>uni5F46</string>
      <string>uni5F4C</string>
      <string>uni5F4E</string>
      <string>uni5FD9</string>
      <string>uni5FEB</string>
      <string>uni5FF1</string>
      <string>uni6016</string>
      <string>uni6064</string>
      <string>uni6069</string>
      <string>uni6070</string>
      <string>uni6084</string>
      <string>uni6085</string>
      <string>uni6094</string>
      <string>uni60D8</string>
      <string>uni60DC</string>
      <string>uni60E0</string>
      <string>uni60FB</string>
      <string>uni6109</string>
      <string>uni6115</string>
      <string>uni6127</string>
      <string>uni6155</string>
      <string>uni615A</string>
      <string>uni618E</string>
      <string>uni6191</string>
      <string>uni61CA</string>
      <string>uni61E3</string>
      <string>uni61E6</string>
      <string>uni621B</string>
      <string>uni6241</string>
      <string>uni6247</string>
      <string>uni62C7</string>
      <string>uni6346</string>
      <string>uni638C</string>
      <string>uni63C0</string>
      <string>uni63DA</string>
      <string>uni63E3</string>
      <string>uni63ED</string>
      <string>uni63EE</string>
      <string>uni640D</string>
      <string>uni6414</string>
      <string>uni6416</string>
      <string>uni641E</string>
      <string>uni642C</string>
      <string>uni6432</string>
      <string>uni6451</string>
      <string>uni6469</string>
      <string>uni6479</string>
      <string>uni647A</string>
      <string>uni6487</string>
      <string>uni6488</string>
      <string>uni649E</string>
      <string>uni64BC</string>
      <string>uni64BE</string>
      <string>uni64BF</string>
      <string>uni64C4</string>
      <string>uni64C5</string>
      <string>uni64DA</string>
      <string>uni64E7</string>
      <string>uni64F2</string>
      <string>uni64F8</string>
      <string>uni6514</string>
      <string>uni6518</string>
      <string>uni6524</string>
      <string>uni654F</string>
      <string>uni655D</string>
      <string>uni6572</string>
      <string>uni6575</string>
      <string>uni6582</string>
      <string>uni6583</string>
      <string>uni659F</string>
      <string>uni65AC</string>
      <string>uni65B7</string>
      <string>uni662F</string>
      <string>uni6652</string>
      <string>uni6666</string>
      <string>uni6668</string>
      <string>uni666F</string>
      <string>uni6691</string>
      <string>uni66AB</string>
      <string>uni66AE</string>
      <string>uni66EC</string>
      <string>uni66F8</string>
      <string>uni66F9</string>
      <string>uni66FE</string>
      <string>uni6700</string>
      <string>uni671D</string>
      <string>uni6771</string>
      <string>uni67E5</string>
      <string>uni67EC</string>
      <string>uni67F5</string>
      <string>uni684C</string>
      <string>uni6850</string>
      <string>uni6885</string>
      <string>uni6953</string>
      <string>uni695E</string>
      <string>uni6975</string>
      <string>uni69FD</string>
      <string>uni6A02</string>
      <string>uni6A19</string>
      <string>uni6A1E</string>
      <string>uni6A3D</string>
      <string>uni6A58</string>
      <string>uni6A5F</string>
      <string>uni6A80</string>
      <string>uni6A9C</string>
      <string>uni6AAC</string>
      <string>uni6AC3</string>
      <string>uni6ADD</string>
      <string>uni6AFA</string>
      <string>uni6B04</string>
      <string>uni6B0A</string>
      <string>uni6B47</string>
      <string>uni6B4C</string>
      <string>uni6B50</string>
      <string>uni6B61</string>
      <string>uni6B9B</string>
      <string>uni6BBA</string>
      <string>uni6BC6</string>
      <string>uni6BCF</string>
      <string>uni6BD3</string>
      <string>uni6BD7</string>
      <string>uni6BEB</string>
      <string>uni6C08</string>
      <string>uni6C0A</string>
      <string>uni6D6C</string>
      <string>uni6D77</string>
      <string>uni6DAE</string>
      <string>uni6E05</string>
      <string>uni6E1B</string>
      <string>uni6E26</string>
      <string>uni6E32</string>
      <string>uni6E34</string>
      <string>uni6E5B</string>
      <string>uni6E6E</string>
      <string>uni6EBA</string>
      <string>uni6EF4</string>
      <string>uni6EFF</string>
      <string>uni6F0F</string>
      <string>uni6F2B</string>
      <string>uni6F2C</string>
      <string>uni6F31</string>
      <string>uni6F38</string>
      <string>uni6F6E</string>
      <string>uni6F78</string>
      <string>uni6FDB</string>
      <string>uni6FE4</string>
      <string>uni7006</string>
      <string>uni701B</string>
      <string>uni7028</string>
      <string>uni7030</string>
      <string>uni703E</string>
      <string>uni704C</string>
      <string>uni7051</string>
      <string>uni7058</string>
      <string>uni705C</string>
      <string>uni7063</string>
      <string>uni70AF</string>
      <string>uni70F1</string>
      <string>uni7149</string>
      <string>uni7159</string>
      <string>uni718F</string>
      <string>uni71E5</string>
      <string>uni71F4</string>
      <string>uni71FB</string>
      <string>uni720D</string>
      <string>uni721B</string>
      <string>uni723D</string>
      <string>uni723E</string>
      <string>uni7246</string>
      <string>uni7280</string>
      <string>uni72A2</string>
      <string>uni72A7</string>
      <string>uni72F8</string>
      <string>uni7336</string>
      <string>uni7337</string>
      <string>uni7344</string>
      <string>uni7345</string>
      <string>uni737A</string>
      <string>uni73CA</string>
      <string>uni73EE</string>
      <string>uni73FE</string>
      <string>uni746A</string>
      <string>uni746F</string>
      <string>uni74A3</string>
      <string>uni74B0</string>
      <string>uni74BD</string>
      <string>uni7504</string>
      <string>uni751A</string>
      <string>uni7566</string>
      <string>uni7578</string>
      <string>uni7587</string>
      <string>uni760B</string>
      <string>uni760D</string>
      <string>uni761F</string>
      <string>uni764C</string>
      <string>uni7662</string>
      <string>uni7669</string>
      <string>uni7671</string>
      <string>uni7672</string>
      <string>uni76DE</string>
      <string>uni76E4</string>
      <string>uni76F4</string>
      <string>uni771F</string>
      <string>uni7740</string>
      <string>uni779E</string>
      <string>uni77B3</string>
      <string>uni788C</string>
      <string>uni7898</string>
      <string>uni789F</string>
      <string>uni78B0</string>
      <string>uni78BA</string>
      <string>uni78D0</string>
      <string>uni78E8</string>
      <string>uni78EF</string>
      <string>uni7901</string>
      <string>uni7926</string>
      <string>uni79AA</string>
      <string>uni7A1F</string>
      <string>uni7A2E</string>
      <string>uni7A3F</string>
      <string>uni7A40</string>
      <string>uni7A46</string>
      <string>uni7A48</string>
      <string>uni7A4D</string>
      <string>uni7A69</string>
      <string>uni7A97</string>
      <string>uni7AC4</string>
      <string>uni7AC5</string>
      <string>uni7AC7</string>
      <string>uni7ACA</string>
      <string>uni7ADF</string>
      <string>uni7AE0</string>
      <string>uni7AE5</string>
      <string>uni7B97</string>
      <string>uni7BC4</string>
      <string>uni7BE1</string>
      <string>uni7BE4</string>
      <string>uni7BF7</string>
      <string>uni7C21</string>
      <string>uni7C2B</string>
      <string>uni7C37</string>
      <string>uni7C4C</string>
      <string>uni7C5F</string>
      <string>uni7C60</string>
      <string>uni7C72</string>
      <string>uni7C92</string>
      <string>uni7C97</string>
      <string>uni7CA5</string>
      <string>uni7CB5</string>
      <string>uni7CBD</string>
      <string>uni7CBE</string>
      <string>uni7CC9</string>
      <string>uni7CCA</string>
      <string>uni7CD5</string>
      <string>uni7CD6</string>
      <string>uni7CD9</string>
      <string>uni7CDC</string>
      <string>uni7DB1</string>
      <string>uni7DE8</string>
      <string>uni7DEC</string>
      <string>uni7DF4</string>
      <string>uni7E3D</string>
      <string>uni7E41</string>
      <string>uni7E6A</string>
      <string>uni7E6D</string>
      <string>uni7E82</string>
      <string>uni7E8C</string>
      <string>uni7F50</string>
      <string>uni7FE9</string>
      <string>uni8010</string>
      <string>uni8070</string>
      <string>uni807E</string>
      <string>uni80A9</string>
      <string>uni80F4</string>
      <string>uni81A0</string>
      <string>uni81BA</string>
      <string>uni81BE</string>
      <string>uni81E8</string>
      <string>uni81ED</string>
      <string>uni8205</string>
      <string>uni8208</string>
      <string>uni8209</string>
      <string>uni820A</string>
      <string>uni8222</string>
      <string>uni822A</string>
      <string>uni822B</string>
      <string>uni822C</string>
      <string>uni8235</string>
      <string>uni8277</string>
      <string>uni8334</string>
      <string>uni83C1</string>
      <string>uni843C</string>
      <string>uni8463</string>
      <string>uni8477</string>
      <string>uni8490</string>
      <string>uni8499</string>
      <string>uni84D1</string>
      <string>uni84EC</string>
      <string>uni84EE</string>
      <string>uni8514</string>
      <string>uni8525</string>
      <string>uni8534</string>
      <string>uni853D</string>
      <string>uni854A</string>
      <string>uni8559</string>
      <string>uni8569</string>
      <string>uni8594</string>
      <string>uni85B0</string>
      <string>uni85E5</string>
      <string>uni85E9</string>
      <string>uni85F4</string>
      <string>uni85FB</string>
      <string>uni8602</string>
      <string>uni8606</string>
      <string>uni860A</string>
      <string>uni8611</string>
      <string>uni862D</string>
      <string>uni8638_HK</string>
      <string>uni863F</string>
      <string>uni865C</string>
      <string>uni8679</string>
      <string>uni868A</string>
      <string>uni868C</string>
      <string>uni8693</string>
      <string>uni86A3</string>
      <string>uni86A4</string>
      <string>uni86AA</string>
      <string>uni86AF</string>
      <string>uni86C0</string>
      <string>uni86C6</string>
      <string>uni86C7</string>
      <string>uni86D4</string>
      <string>uni86D9</string>
      <string>uni86DB</string>
      <string>uni86DF</string>
      <string>uni86E4</string>
      <string>uni86FB</string>
      <string>uni86FE</string>
      <string>uni8702</string>
      <string>uni8707</string>
      <string>uni8708</string>
      <string>uni8713</string>
      <string>uni8715</string>
      <string>uni8718</string>
      <string>uni8722</string>
      <string>uni8725</string>
      <string>uni8734</string>
      <string>uni873B</string>
      <string>uni873F</string>
      <string>uni874C</string>
      <string>uni8757</string>
      <string>uni8759</string>
      <string>uni8760</string>
      <string>uni8766</string>
      <string>uni8774</string>
      <string>uni8776</string>
      <string>uni8778</string>
      <string>uni8782</string>
      <string>uni8783</string>
      <string>uni878D</string>
      <string>uni879E</string>
      <string>uni87B3</string>
      <string>uni87BA</string>
      <string>uni87C0</string>
      <string>uni87C6</string>
      <string>uni87C8</string>
      <string>uni87CB</string>
      <string>uni87D1</string>
      <string>uni87D2</string>
      <string>uni87EC</string>
      <string>uni87F6</string>
      <string>uni87FB</string>
      <string>uni8805</string>
      <string>uni880D</string>
      <string>uni8814</string>
      <string>uni8815</string>
      <string>uni881F</string>
      <string>uni8823</string>
      <string>uni883B</string>
      <string>uni8853</string>
      <string>uni88CA</string>
      <string>uni88F9</string>
      <string>uni8932</string>
      <string>uni8944</string>
      <string>uni8972</string>
      <string>uni89BA</string>
      <string>uni89C0</string>
      <string>uni8AEB</string>
      <string>uni8AF7</string>
      <string>uni8B4F</string>
      <string>uni8B7D</string>
      <string>uni8B80</string>
      <string>uni8B8A</string>
      <string>uni8B93</string>
      <string>uni8C50</string>
      <string>uni8C54</string>
      <string>uni8C6A</string>
      <string>uni8CBB</string>
      <string>uni8CF4</string>
      <string>uni8CFD</string>
      <string>uni8D08</string>
      <string>uni8D0F</string>
      <string>uni8D16</string>
      <string>uni8D9F</string>
      <string>uni8DDA</string>
      <string>uni8E4B</string>
      <string>uni8E63</string>
      <string>uni8E72</string>
      <string>uni8EBA</string>
      <string>uni8EC0</string>
      <string>uni8ECB</string>
      <string>uni8ECC</string>
      <string>uni8ED2</string>
      <string>uni8ED4</string>
      <string>uni8EDA</string>
      <string>uni8EDB</string>
      <string>uni8EDF</string>
      <string>uni8EF8</string>
      <string>uni8EFB</string>
      <string>uni8EFC</string>
      <string>uni8EFE</string>
      <string>uni8F03</string>
      <string>uni8F09</string>
      <string>uni8F0A</string>
      <string>uni8F12</string>
      <string>uni8F13</string>
      <string>uni8F14</string>
      <string>uni8F15</string>
      <string>uni8F1B</string>
      <string>uni8F1C</string>
      <string>uni8F1D</string>
      <string>uni8F1F</string>
      <string>uni8F29</string>
      <string>uni8F2A</string>
      <string>uni8F2D</string>
      <string>uni8F2F</string>
      <string>uni8F38</string>
      <string>uni8F3E</string>
      <string>uni8F3F</string>
      <string>uni8F44</string>
      <string>uni8F45</string>
      <string>uni8F49</string>
      <string>uni8F4D</string>
      <string>uni8F4E</string>
      <string>uni8F54</string>
      <string>uni8F5F</string>
      <string>uni8FA6</string>
      <string>uni8FAD</string>
      <string>uni8FE5</string>
      <string>uni8FF0</string>
      <string>uni8FF4</string>
      <string>uni8FFA</string>
      <string>uni904D</string>
      <string>uni904E</string>
      <string>uni905E</string>
      <string>uni9069</string>
      <string>uni906E</string>
      <string>uni9072</string>
      <string>uni9075</string>
      <string>uni9078</string>
      <string>uni907A</string>
      <string>uni9084</string>
      <string>uni9087</string>
      <string>uni908A</string>
      <string>uni908F</string>
      <string>uni9090</string>
      <string>uni9119</string>
      <string>uni912D</string>
      <string>uni914A</string>
      <string>uni914C</string>
      <string>uni914D</string>
      <string>uni9152</string>
      <string>uni9157</string>
      <string>uni9163</string>
      <string>uni9169</string>
      <string>uni916A</string>
      <string>uni916C</string>
      <string>uni9175</string>
      <string>uni9177</string>
      <string>uni9178</string>
      <string>uni9182</string>
      <string>uni9183</string>
      <string>uni9187</string>
      <string>uni9189</string>
      <string>uni918B</string>
      <string>uni9192</string>
      <string>uni9196</string>
      <string>uni919C</string>
      <string>uni919E</string>
      <string>uni91A3</string>
      <string>uni91BA</string>
      <string>uni91C0</string>
      <string>uni9285</string>
      <string>uni92F0</string>
      <string>uni934A</string>
      <string>uni93C8</string>
      <string>uni9472</string>
      <string>uni95CC</string>
      <string>uni95DC</string>
      <string>uni965D</string>
      <string>uni9673</string>
      <string>uni96CC</string>
      <string>uni96D6</string>
      <string>uni96DB</string>
      <string>uni96DE</string>
      <string>uni96E2</string>
      <string>uni9761</string>
      <string>uni9766</string>
      <string>uni9774</string>
      <string>uni9776</string>
      <string>uni978B</string>
      <string>uni978D</string>
      <string>uni97A6</string>
      <string>uni97AD</string>
      <string>uni97C3</string>
      <string>uni97C6</string>
      <string>uni9846</string>
      <string>uni984E</string>
      <string>uni985B</string>
      <string>uni986B</string>
      <string>uni9874</string>
      <string>uni98AF</string>
      <string>uni98B1</string>
      <string>uni98B3</string>
      <string>uni98B6</string>
      <string>uni98BA</string>
      <string>uni98BC</string>
      <string>uni98C4</string>
      <string>uni9951</string>
      <string>uni99AD</string>
      <string>uni99B1</string>
      <string>uni99B3</string>
      <string>uni99B4</string>
      <string>uni99C1</string>
      <string>uni99D0</string>
      <string>uni99D2</string>
      <string>uni99D9</string>
      <string>uni99DB</string>
      <string>uni99DD</string>
      <string>uni99DF</string>
      <string>uni99E2</string>
      <string>uni99ED</string>
      <string>uni99FF</string>
      <string>uni9A01</string>
      <string>uni9A0E</string>
      <string>uni9A19</string>
      <string>uni9A2E</string>
      <string>uni9A37</string>
      <string>uni9A3E</string>
      <string>uni9A43</string>
      <string>uni9A44</string>
      <string>uni9A45</string>
      <string>uni9A55</string>
      <string>uni9A57</string>
      <string>uni9A5B</string>
      <string>uni9A5F</string>
      <string>uni9A62</string>
      <string>uni9A63</string>
      <string>uni9A65</string>
      <string>uni9A6A</string>
      <string>uni9AAF</string>
      <string>uni9AB0</string>
      <string>uni9AB8</string>
      <string>uni9ABC</string>
      <string>uni9AC0</string>
      <string>uni9AC1</string>
      <string>uni9ACF</string>
      <string>uni9AD2</string>
      <string>uni9AD3</string>
      <string>uni9AD4</string>
      <string>uni9AD6</string>
      <string>uni9B31</string>
      <string>uni9B42</string>
      <string>uni9B44</string>
      <string>uni9B45</string>
      <string>uni9B4F</string>
      <string>uni9B54</string>
      <string>uni9BC9</string>
      <string>uni9C28</string>
      <string>uni9C77</string>
      <string>uni9CF3</string>
      <string>uni9D09</string>
      <string>uni9D3F</string>
      <string>uni9D61</string>
      <string>uni9D6A</string>
      <string>uni9D6C</string>
      <string>uni9D70</string>
      <string>uni9D72</string>
      <string>uni9D89</string>
      <string>uni9DB4</string>
      <string>uni9DD3</string>
      <string>uni9DD7</string>
      <string>uni9E1A</string>
      <string>uni9E79</string>
      <string>uni9E7C</string>
      <string>uni9E7D</string>
      <string>uni9EB5</string>
      <string>uni9EBC</string>
      <string>uni9EBE</string>
      <string>uni9EBF</string>
      <string>uni9ED0</string>
      <string>uni9ED4</string>
      <string>uni9ED8</string>
      <string>uni9EDC</string>
      <string>uni9EDD</string>
      <string>uni9EDE</string>
      <string>uni9EE0</string>
      <string>uni9EE8</string>
      <string>uni9EEF</string>
      <string>uni9EF4</string>
      <string>uni9EF7</string>
      <string>uni9F5F</string>
      <string>uni9F63</string>
      <string>uni9F66</string>
      <string>uni9F6C</string>
      <string>uni9F94</string>
      <string>uni9F95</string>
      <string>u220C7</string>
      <string>u22C51</string>
      <string>u22DEE</string>
      <string>u24EA7</string>
      <string>u25E49</string>
      <string>u282E2</string>
      <string>u29A4D</string>
      <string>uni77A5</string>
      <string>uni5177</string>
      <string>uni52C7</string>
      <string>uni5C0B</string>
      <string>uni5E3D</string>
      <string>uni655E</string>
      <string>uni6E2F</string>
      <string>uni9165</string>
      <string>uni9EDB</string>
      <string>uni5662</string>
      <string>uni5967</string>
      <string>uni614C</string>
      <string>uni69BB</string>
      <string>uni6FB3</string>
      <string>uni8956</string>
    </array>
  </dict>
</plist>
